<h1>This is a simple word count app</h1>
  <form action="/word_count_input_page">
    <div class="form-group">
       <label for="title">Click the green button to count number of words in sentence</label>
    </div>
    <button type="submit" class="btn btn-success">Proceed1</button>
  </form>

  <hr>

  <form action="/word_count_partial_input_page">
    <div class="form-group">
       <label for="title">Click the red button to count number of words AND partial words in sentence</label>
    </div>
    <button type="submit" class="btn btn-danger">Proceed2</button>
  </form>
