<h2>The sentence you inputted is "<%= @sentence2_input %>"</h2>
<br>
<h2>The word you inputted is "<%= @word2_input%>"</h2>
<br>
<h2>The word "<%= @word2_input%>" appeared fully or partially <%= @output2%> time(s)</h2>

<form action="/">
  <button type="submit" class="btn-success">Home</button>
</form>

<br>

<form action="/word_count_partial_input_page">
  <button type="submit" class="btn-danger">Go back</button>
</form>
