<h1>Check how times a word appears partially in a given sentence</h1>
  <form action="/word_count_partial_output_page">
    <div class="form-group">
       <label for="sentence2">Input sentence here</label>
       <input id="sentence2" name="sentence2" class="form-control" type="text">
    </div>

    <div class="form-group">
       <label for="word2">Input word here</label>
       <input id="word2" name="word2" class="form-control" type="text">
    </div>

    <button type="submit" class="btn-success">Submit</button>
  </form>
    <br>
  <form action="/">
    <button type="submit" class="btn-danger">Home</button>
  </form>
